.message1 {
    font-size: 5vh;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.logo {
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    height: 18vh;
}

.message2 {
    font-size: 5vh;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.location-instructions {
    margin-left: 25px;
    font-size: 3vh;
}