.screen {
    height: 100vh;
    width: 97vw;
}

.message {
    font-family: 'Mukta', sans-serif;
    font-weight: 12px;
    font-size: 6vh;
    line-height: 5.4vh;
    margin-top: 5vh;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 87vw;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.imHereButton {
    margin-top: 5vh;
    width: 40vw;
}

.needDirections {
    font-family: 'Mukta', sans-serif;
    font-weight: 12px;
    font-size: 3.2vh;
    line-height: 3.2vh;
    margin-left: auto;
    margin-right: auto;
    width: 87vw;
}

#map {
    width: 87vw;
    height: 35vh;
    margin-bottom: 0.8vh;
}