<!DOCTYPE html>
<html>
  <script>
    if (!window.location.hash && window.addEventListener){
      window.addEventListener("load", function() {
          setTimeout(function(){
              window.scrollTo(0, 0);
          }, 0);
      });
      window.addEventListener( "orientationchange",function() {
          setTimeout(function(){
              window.scrollTo(0, 0);
          }, 0);
      });
      window.addEventListener( "touchstart",function() {
           setTimeout(function(){
               window.scrollTo(0, 0);
           }, 0);
       });
    }
  </script>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="message">You're here!<br>Look for the location pictured below and using your camera, unlock the message by matching this image.</div>
    <div>
      <img class="locationPic" src="{{ locationPicUrl }}">
    </div>
    <div>
      <a rel="ar" href="{{ usdzUrl }}">
        <img class="openCamera" src="{{ openCameraButtonUrl }}">
      </a>
    </div>
  </div>
</html>