div {
    height: 100vh;
    width: 100vw;
}

.message {
    font-size: 5vh;
    margin-top: 5vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 27vh;
    max-height: 27vh;
    width: 85vw;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.locationPic {
    display: block;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    max-height: 30vh;
    max-width: 70vw;
}

.openCamera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.openCamera:hover {
	background-color:#eb675e;
}
.openCamera:active {
	position:relative;
	top:1px;
}

a {
    text-decoration:none;
}