.screen {
    height: 100vh;
    width: 97vw;
}

.message {
    font-family: 'Mukta', sans-serif;
    font-weight: 12px;
    font-size: 6vh;
    line-height: 5.4vh;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 87vw;
    text-align: center;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.locationPic {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 62vh;
    width: 70vw;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.openCamera {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    margin-bottom: 10vh;
    top: 51vh;
    left: 16vw;
}

a {
    text-decoration:none;
}