.screen {
    height: 100vh;
    width: 97vw;
}

.message {
    font-family: 'Mukta', sans-serif;
    font-weight: 12px;
    font-size: 6vh;
    line-height: 5.4vh;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 87vw;
    // for testing
    // border: solid #000;
    // border-width: 1px 1px;
}

.locationPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 82vw;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}

.openCamera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    margin-bottom: 10vh;
}

a {
    text-decoration:none;
}